name: "Continuous Integration"

on:
  push:
    branches:
      - "main"
    tags:
      - "*"
  pull_request:
    branches:
      - "main"

jobs:
  testing:
    name: "Testing"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.5
          coverage: none
      - run: "composer install --no-interaction"
      - run: "vendor/bin/php-cs-fixer fix --dry-run -v"
      - run: "vendor/bin/psalm --long-progress"
      - run: "vendor/bin/phpunit"
