name: "Monthly Cron Job"

on:
  schedule:
    - cron: "0 3 1 * *"

jobs:
  update:
    name: "Update departements.json and commune-departement-*.json"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.5
          coverage: none
      - run: "php -f ./scripts/job.php"
      - uses: peter-evans/create-pull-request@v8
        with:
          title: "(bot) Update resources"
          commit-message: "(bot) Update resources"
          delete-branch: true
